! xrdb -load ~/.Xresources
xterm*faceName: Monospace
xterm*faceSize: 11

xterm*faceSize1: 9
xterm*faceSize2: 11
xterm*faceSize3: 13
xterm*faceSize4: 15
xterm*faceSize5: 19

xterm*highlightSelection: true
xterm*trimSelection: true

xterm*title: xterm
xterm*cursorBlink: false
xterm*internalBorder: 13
xterm*loginShell: true
xterm*scrollBar: false
xterm*scrollKey: true
xterm*saveLines: 16384
xterm*multiClickTime: 250
xterm*Geometry: 140x50+110+60
xterm*renderFont: true

xterm*selectToClipboard: false
xterm*fullscreen: never
xterm*metaSendsEscape: true

xterm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

xterm*background: #111111
xterm*foreground: #eceff4
xterm*pointerColor: #eceff4
xterm*pointerColorBackground: #2e3440
xterm*cursorColor: #eceff4


xterm*colorUL: #d08770
xterm*underlineColor: #d08770
! black
xterm*color0  : #434c5e
xterm*color8  : #3b4252
! red
xterm*color1  : #bf616a
xterm*color9  : #bf616a
! green
xterm*color2  : #a3be8c
xterm*color10 : #a3be8c
! yellow
xterm*color3  : #ebcb8b
xterm*color11 : #ebcb8b
! blue
xterm*color4  : #5e81ac
xterm*color12 : #5e81ac
! magenta
xterm*color5  : #b48ead
xterm*color13 : #b48ead
! cyan
xterm*color6  : #88c0d0
xterm*color14 : #88c0d0
! white
xterm*color7  : #e5e9f0
xterm*color15 : #d8dee9
